<!DOCTYPE html>
<html>
	<head>
		
		<!-- Metadatos -->
		
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="theme-color" content="#0c212e">
		<title>Auricular</title>
		<base href="../../">
		
		<!-- Google Founts -->
		
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&family=Roboto:wght@400;700&display=swap" rel="stylesheet">
		
		<!-- Estilos Generales -->
		
		<link rel="stylesheet" href="css/estilos.css" />
	</head>
	<body>
		
		<!-- Header -->
		<div class="wrapper">
			<header class="header">
				<span class="logo">Computador</span>
				<div>
					<button class="button"><a href="index.html">Home</a></button>
					<button class="button"><a href="DE-DS.html">Volver</a></button>
				</div>	
			</header>
			
			<!-- Wrapper content -->
			
			<section class="wrapper-content">
				<span class="title">¿Qué es un Auricular?</span>
				<p>Un auricular de computadora es un dispositivo que se conecta a una computadora con fines de comunicación y medios; cuenta con auriculares como mínimo, o una combinación de auriculares y micrófono.</p>  
			</section>		
		</div>
		<main class="main">
			<section>
				<h1>Auriculares</h1>
				<figure>
					<img src="src/img/FONDO38.JPG">
				</figure>	
				
				<article>
					
					<!-- ¿Qué es son los auriculares? -->
					
					<h2>¿Qué es son los auriculares?</h2>
					<p>Un auricular de computadora es un dispositivo que se conecta a una computadora con fines de comunicación y medios; cuenta con auriculares como mínimo, o una combinación de auriculares y micrófono. Puede conectarse de forma inalámbrica a una computadora, o puede conectarse a través de un puerto USB o un conector estándar para auriculares. Los auriculares para computadora varían en características y calidad, pero se pueden usar para muchos propósitos diferentes.</p>
				</article>
		
				<article>
					
					<!-- ¿para qué sirve los auriculares? -->
					
					<h2>¿para qué sirve los auriculares?</h2>
					<p>El uso más básico de un auricular de computadora es usarlo para escuchar música o ver videos en línea, si no es posible reproducir sonidos a través de los altavoces de computadora tradicionales.</p>

					<p>Los auriculares son útiles para filtrar el ruido circundante, como cuando se intenta trabajar o mientras se viaja en un avión. Muchas personas disfrutan viendo películas en sus computadoras mientras viajan, y para esto es necesario usar un auricular de computadora.</p>

					<p>Hay muchos diseños diferentes de auriculares; algunos están diseñados para caber en la oreja, mientras que otros pueden descansar en la parte superior de las orejas con una banda que se coloca sobre la cabeza.<p>


					<p>También se pueden usar auriculares de computadora para un juego en línea. Muchos juegos ahora permiten a los jugadores comunicarse entre sí mientras juegan mediante el uso de Voz sobre Protocolo de Internet o VoIP. Para utilizar esta función, será necesario elegir unos auriculares con micrófono y unos auriculares. El micrófono puede estar oculto e integrado en los auriculares, o puede ser una pieza separada que descansa cerca de la mandíbula.</p>
				</article>
			</section>
		</main>	
	</body>
</html>
