<!DOCTYPE html>
<html>
	<head>
		
		<!-- Metadatos -->
		
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="theme-color" content="#0c212e">
		<title>Bola de pista</title>
		<base href="../../">
		
		<!-- Google Founts -->
		
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&family=Roboto:wght@400;700&display=swap" rel="stylesheet">
		
		<!-- Estilos Generales -->
		
		<link rel="stylesheet" href="css/estilos.css" />
	</head>
	<body>
		
		<!-- Header -->
		<div class="wrapper">
			<header class="header">
				<span class="logo">Computador</span>
				<div>
					<button class="button"><a href="index.html">Home</a></button>
					<button class="button"><a href="DE-DS.html">Volver</a></button>
				</div>	
			</header>
			
			<!-- Wrapper content -->
			
			<section class="wrapper-content">
				<span class="title">¿Qué es la Bola de pista?</span>
				<p>Bola de pista es un dispositivo de entrada que se utiliza sobre todo en la computadora portátil o computadora portátil, en vez de un ratón. Esta es una bola que se inserta a medio y moviendo los dedos sobre la bola, se puede mover puntero.</p>  
			</section>		
		</div>
		
		<main class="main">
			<section>
				
				<h1>Bola de pista</h1>
				<figure>
					<img src="src/img/FONDO18.JPG">
				</figure>	
				<article>
				
					<!-- ¿Qué es una Bola de pista? -->
					
					<h2>¿Qué es una Bola de pista?</h2>
					<p>Bola de pista es un dispositivo de entrada que se utiliza sobre todo en la computadora portátil o computadora portátil, en vez de un ratón. Esta es una bola que se inserta a medio y moviendo los dedos sobre la bola, se puede mover puntero. Puesto que todo el dispositivo no se mueve, una bola de pista requiere menos espacio que un ratón. Una bola de pista viene en varias formas como una bola, un botón y una plaza.</p>
			
				</article>
				<article>
					
					<!-- ¿Para qué sirve una bola de pista? -->
					
					<h2>¿Para qué sirve una bola de pista?</h2>
					<p>El trackball o bola de seguimiento es el dispositivo apuntador estacionario, compuesto por una bola incrustada en un receptáculo que contiene sensores que detectan la rotación de la bola en dos ejes (como un ratón de computadora de tipo mecánico, boca arriba, con la bola sobresaliendo en la parte superior). Algunos se ajustan al lateral del teclado, y tienen botones integrados con las mismas funciones que los botones de los ratones. El usuario hace girar la bola con el pulgar, los dedos, o la palma de la mano para mover el cursor.</p>
					
				</article>
				<article>
					
					<!-- Historia -->
					
					<h3>Historia</h3>
					<p><em>TRACKBALL O EN ESPAÑOL BOLA DE PISTA FUE VISTA POR PRIMERA VEZ EN 1978, FUE LANZADA PARA EL VIDEO JUEGO FOOTBALL DE ATARI, FUE LANZADA PRINCIPALMENTE COMO MAQUITA RECREATIVA</em></p>
					
					<figure>
						<img src="src/img/descarga.png">	 
					</figure>	
				</article>
			</section>	
		</main>  
	</body>
</html>