<!DOCTYPE html>
<html>
	<head>
		
		<!-- Metadatos -->
		
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="theme-color" content="#0c212e">
		<title>Digitalizador</title>
		<base href="../../">
		
		<!-- Google Founts -->
		
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&family=Roboto:wght@400;700&display=swap" rel="stylesheet">
		
		<!-- Estilos Generales -->
		
		<link rel="stylesheet" href="css/estilos.css" />
	</head>
	<body>
		
		<!-- Header -->
		<div class="wrapper">
			<header class="header">
				<span class="logo">Computador</span>
				<div>
					<button class="button"><a href="index.html">Home</a></button>
					<button class="button"><a href="DE-DS.html">Volver</a></button>
				</div>	
			</header>
			
			<!-- Wrapper content -->
			
			<section class="wrapper-content">
				<span class="title">¿Qué es una Tableta digitalizadora?</span>
				<p>es un periférico que permite al usuario introducir gráficos o dibujos a mano, tal como lo haría con lápiz y papel.</p>  
			</section>		
		</div>
		<main class="main">
			
			<section>
				
				<h1>Tableta digitalizadora</h1>
				<figure>
					<img src="src/img/Graphic_tablet.png">
				</figure>
				
				<article>
					
					<!-- ¿Qué es tableta digitalizadora? -->
					
					<h2>¿Qué es tableta digitalizadora?</h2>
								
					<p>es un periférico que permite al usuario introducir gráficos o dibujos a mano, tal como lo haría con lápiz y papel. También permite apuntar y señalar los objetos que se encuentran en la pantalla. Consiste en una superficie plana sobre la que el usuario puede dibujar una imagen utilizando el estilete (lapicero) que viene junto a la tableta. La imagen no aparece en la tableta sino que se muestra en la pantalla de la computadora. Algunas tabletas digitalizadoras están diseñadas para ser utilizadas reemplazando al ratón como el dispositivo apuntador principal.</p>
					
				</article>
				
				<article>
					
					<!-- ¿para qué sirve la tableta digitalizadora? -->
					
					<h2>¿para qué sirve la tableta digitalizadora?</h2>
					<p>Una tableta gráfica es un periférico de entrada que se conecta al equipo. Al dibujar en una tableta con lápiz óptico, puedes navegar por tu PC tal y como lo harías con el ratón. Pero además de las funciones básicas del ratón, también puedes trazar líneas.</p>
				</article>

				<article>
					
					<!-- Historia -->
					
					<h2>Historia</h2>

					<p>El primer dispositivo de escritura electrónica fue el <strong>Tele autógrafo</strong>, platentado por Elisha Gray en 1888. La primera tableta gráfica parecida a la tableta contemporánea y usada para el reconocimiento de escritura a mano por un ordenador fue la Stylator en 1957. Más conocida (y a veces confundida como la primera tableta digitalizadora) fue la <strong>tableta RAND</strong>, también conocida como la <strong>Grafacon (por Graphic Converter)</strong>, introducida en 1964.</p>

					<p>La tableta RAND tenía una cuadrícula de cables por debajo del pad que codificaban coordenadas horizontales y verticales en una pequeña señal magnética.</p>

					<p>El stylus recibiría la señal magnética, la cual entonces podría ser descodificada como información de las coordenadas.</p>

					<p>La tableta acústica o tableta de bujías, usaba un punzón que generaba clics con una bujía. Los clics eran triangulados por una serie de micrófonos para localizar el lápiz en el espacio. Este sistema era bastante complejo y caro, y los sensores eran susceptibles a las interferencias por sonidos externos.</p>

					<p>La primera tableta gráfica de uso en el hogar fue la <strong>KoalaPad</strong>. Aunque originalmente diseñada para el Apple II, la Koala eventualmente amplió su aplicabilidad a prácticamente todas las computadoras domésticas con soporte de gráficos, ejemplos los cuales incluyen el TRS-80 Color Computer, Commodore 64 y la familia Atari-8 bit. Eventualmente, tabletas fueron creadas por otras compañías para formar parte de la competencia; las tabletas producidas por Atari eran generalmente consideradas de alta calidad.</p>
					
					<figure>							
						<img src="src/img/FONDO23.JPG" width="20%">
					</figure>	
				</article>
			</section>
		</main>
	</body>
</html>
