<!DOCTYPE html>
<html>
	<head>
		
		<!-- Metadatos -->
		
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="theme-color" content="#0c212e">
		<title>Impresora</title>
		<base href="../../">
		
		<!-- Google Founts -->
		
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&family=Roboto:wght@400;700&display=swap" rel="stylesheet">
		
		<!-- Estilos Generales -->
		
		<link rel="stylesheet" href="css/estilos.css" />
	</head>
	<body>
		
		<!-- Header -->
		<div class="wrapper">
			<header class="header">
				<span class="logo">Computador</span>
				<div>
					<button class="button"><a href="index.html">Home</a></button>
					<button class="button"><a href="DE-DS.html">Volver</a></button>
				</div>	
			</header>
			
			<!-- Wrapper content -->
			
			<section class="wrapper-content">
				<span class="title">¿Qué es el impresora?</span>
				<p>Se trata de un dispositivo de salida que puede encontrarse conectado al computador o simplemente tener una conexión inalámbrica.</p>  
			</section>		
		</div>
		<main class="main">
			<section>
				<h1>Impresora</h1>
				<figure>
					<img src="src/img/FONDO35.JPG">
				</figure>
				
				<article>
					
					<!-- ¿Que es la impresora? -->
					
					<h2>¿Que es la impresora?</h2>
					
					<p>Se trata de un dispositivo de salida que puede encontrarse conectado al computador o simplemente tener una conexión inalámbrica.
		Este objeto logra que se produzcan una serie de gamas de gráficos o de textos pertenecientes a los documentos que han sido previamente guardados electrónicamente, de esta manera, se pueden imprimir para que pasen a ser físicos.</p>
					<p>Estas impresiones pueden hacerse en papel a través de los cartuchos con tinta, aunque también puede ser a laser. Existen en la actualidad, muchas impresoras entre ellas, la impresora 3d, impresora hd, impresora epson, impresora láser, impresora de tinta continua, impresora portátil y la impresora multifuncional.</p>
				
				</article>
				
				<article>
					
					<!-- ¿Para qué sirve la impresora? -->
					
					<h2>¿Para qué sirve la impresora?</h2>

					<p>La impresora es un dispositivo periférico para computadora. En su forma más simple, funciona como un elemento de salida de datos, llevando los documentos electrónicos a una forma física en papel.</p>
					<p>Sin embargo, con el progreso tecnológico se han integrado a ella múltiples funciones y accesorios adicionales, como el scanner y el fax, aparatos de entrada de datos, resultando en los dispositivos llamados impresoras multifuncionales</p>

					<p>La principal función de las impresoras es imprimir, ya sea en papel o transparencias de acetato, información en forma de textos o imágenes (gráficos, fotografías, diseños). Esta información se encuentra en la computadora, en un formato binario-electrónico, y la impresora la traduce para plasmarla como un documento físico, para tenerlo al alcance de la mano y darle uso.</p>

					<h3>La impresora sirve para:</h3>
					<ol>
						<li>Plasmar texto en hojas de papel</li>
						<li>Plasmar texto en transparencias de acetato</li>
						<li>Imprimir imágenes diseñadas por computadora</li>
						<li>Imprimir fotografías tomadas con cámara digital</li>
						<li>Hacer varias copias de un mismo documento</li>
						<li>Digitalizar documentos físicos</li>
					</ol>
					
				</article>
				<article>
					<h2>Historia</h2>
					<p>A partir del descubrimiento de Charles Babbage, la tecnología de impresión comenzó a desarrollarse a pasos agigantados. En 1953, Remington Rand crea UNIVAC High Speed Printer. La primera impresora de alta velocidad capaz de imprimir 600 líneas de texto por minuto.</p>

					<p>4 años más tarde, IBM patenta la impresora de matriz de puntos. Que gracias a un cabezal de impresión podía deslizarle lateralmente por el papel. En 1959 inventa los equipos de impresión por líneas. Que tenían la gran ventaja de sobreimprimir, permitiendo una escala de grises.</p>

					<p>Finalmente, en 1969 un ingeniero norteamericano llamado Gary Starkweather creó la primera impresora láser. Que 2 años después se hizo realidad en el centro de investigaciones Xerox. No obstante, no llegó al mercado hasta 1977.</p>

					<figure>
						<img src="src/img/FONDO34.JPG">
					</figure>
				</article>
			</section>	
		</main>					
	</body>
</html>
