<!DOCTYPE html>
<html>
	<head>
		
		<!-- Metadatos -->
		
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="theme-color" content="#0c212e">
		<title>Lector de tarjetas Magneticas</title>
		<base href="../../">
		
		<!-- Google Founts -->
		
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&family=Roboto:wght@400;700&display=swap" rel="stylesheet">
		
		<!-- Estilos Generales -->
		
		<link rel="stylesheet" href="css/estilos.css" />
	</head>
	<body>
		
		<!-- Header -->
		<div class="wrapper">
			<header class="header">
				<span class="logo">Computador</span>
				<div>
					<button class="button"><a href="index.html">Home</a></button>
					<button class="button"><a href="DE-DS.html">Volver</a></button>
				</div>	
			</header>
			
			<!-- Wrapper content -->
			
			<section class="wrapper-content">
				<span class="title">¿Qué es una Lector de tarjetas Magneticas?</span>
				<p>Los lectores de bandas magneticas son empleados donde se manejan credenciales y tarjetas de credito/debito, haciendo el trabajo de identificación mas rapido y eficiente.</p>  
			</section>		
		</div>
		
		<main class="main">
			
			<section>
				<h1>Lector de tarjetas Magneticas</h1>
				
				<article>
					
					<!-- ¿Qué es el lector de targetas Magneticas? -->
					
					<h2>¿Qué es el lector de tarjetas Magneticas?</h2>

					<p>Los lectores de bandas magneticas son empleados donde se manejan credenciales y tarjetas de credito/debito, haciendo el trabajo de identificación mas rapido y eficiente. Los lectores de banda magnetica permiten conectarse con centrales de bases de datos para reconocer saldos, existencias, entre otros.</p>

					<figure>
						<img src="src/img/FONDO27.JPG">
					</figure>
				</article>
				
				<article>
				
					<!-- ¿Para qué es sirve lector de tarjetas magnéticas? -->
					
					<h2>¿Para qué es sirve lector de tarjetas magnéticas?</h2>

					<p>La lectora MICR-K1250NM3 MICR+MSR tiene la capacidad de leer cheques y otros documentos con caracteres magnéticos en forma automática.</p>
					<p>Asimismo puede leer de forma rápida y confiable de tarjetas magnéticas, al pasarlas manualmente por el equipo.</p>
					<p>La aplicación de estas lectoras es absolutamente imprescindible en Bancos, Entidades Financieras, Comercios, Hoteles, oficina y/o empresa donde tienen lugar transacciones comerciales y donde la verificación de la información es requerida.</p>

					<ul>

						<li>Lectura absolutamente confiable, rápida y con alto promedio en la primera pasada.</li>
						<li>Transporte del cheque de forma automática y rápida.</li>
					</ul>
					
				</article>
				
				<article>
					
					<!-- Historial -->
			
					<h2>Historia</h2>

					<p>Hoy en día, se ha desarrollado un tipo de lectores de banda magnética "híbrido", que es capaz de leer bandas magnéticas, así como otros tipos de tarjetas.<strong>“Las tarjetas inteligentes”</strong>, por ejemplo, pueden ser leídas por estos nuevos lectores de banda magnética "híbridos". Estos lectores de banda magnética son rentables, fáciles de usar y seguros.</p>

					<p>Así que sin duda, estos van a estar en uso por mucho tiempo a menos que haya una opción mucho más viable. Dado que las tarjetas pueden ser editadas manualmente, que cortarlas y empalmarlas es fácil, estas son fáciles de fabricar además de ser rentables.</p>


					<p>Es posible que los lectores de banda magnética se utilicen junto con otra tecnología lo cual será igualmente una buena opción.</p>
					<p>Sin embargo, los lectores de banda magnética tienen más ventajas que desventajas en términos de uso y tecnología. Y lo que realmente los diferencia, en comparación con las otras tecnologías que representan una amenaza para reemplazarlos, es su sistema de seguridad impecable. Dado que la seguridad es un factor importante en esta corriente, es poco probable que los lectores de banda magnética sean reemplazados en un futuro próximo.</p>
			
					<figure>
						<img src="src/img/FONDO28.jpg">
					</figure>
				</article>
			</section>	
		</main>	
	</body>
</html>
