<!DOCTYPE html>
<html>
	<head>
		
		<!-- Metadatos -->
		
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="theme-color" content="#0c212e">
		<title>Lector de código de barras</title>
		<base href="../../" />
		
		<!-- Google Founts -->
		
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&family=Roboto:wght@400;700&display=swap" rel="stylesheet">
		
		<!-- Estilos Generales -->
		
		<link rel="stylesheet" href="css/estilos.css" />
	</head>
	<body>
		
		
		<!-- HEADER -->
		<div class="wrapper">
			<header class="header">
				<span class="logo">Computador</span>
				<div>
					<button class="button"><a href="index.html">Home</a></button>
					<button class="button"><a href="DE-DS.html">Volver</a></button>
				</div>	
			</header>
			
			
			<!-- Wrapper content -->
			
			<section class="wrapper-content">
				<span class="title">¿Qué es una Lector de código de barras?</span>
				<p>Es un dispositivo electrónico que utiliza un láser incorporado para leer un código de barras y emitir la información (el número) que representa el código, no la imagen. Así, la tediosa tarea de digitar los códigos desaparece y se reduce considerablemente el tiempo y los recursos invertidos en ello.</p>  
			</section>		
		</div>
		<main class="main">
			
			<section>
				<h1>Lector de código de barras</h1>
				<figure>
					<img src="src/img/FONDO31.JPG">
				</figure>
				
				<article>
						
					<!-- ¿Que es lector código de barras? -->

					<h2>¿Que es lector código de barras?</h2>
					<p>Es un dispositivo electrónico que utiliza un láser incorporado para leer un código de barras y emitir la información (el número) que representa el código, no la imagen. Así, la tediosa tarea de digitar los códigos desaparece y se reduce considerablemente el tiempo y los recursos invertidos en ello. Además, se asegura que no hayan errores que pondrían en peligro la trazabilidad de la muestra. Los lectores de códigos de barras se usaron por primera vez en 1974, cuando se desarrollaron las primeras aplicaciones comerciales del láser. El primer registro fue el precio de un paquete de chicles.<p>



				<p>La lectura del código se lleva a cabo pasando un pequeño punto de luz sobre el símbolo impreso del código de barras. A simple vista sólo se ve una fina línea roja emitida desde el escáner láser. Esto ocurre porque delante del emisor láser se disponen unos pequeños espejos, uno de ello vibra mediante un electroimán que genera este haz de luz, convirtiendo el punto del láser en una línea.</p>

				<p>Lo que está sucediendo es que las barras oscuras absorben la fuente de luz del escáner y ésta se refleja en los espacios luminosos. Es decir, el lector recibe la luz reflejada y la convierte en una señal eléctrica. Mediante otro espejo la luz de vuelta se redirige a un sensor de luz.</p>
					
				</article>
				
				<article>
			
					<!-- para que sirve el lector de código (OCR) -->
					
					<h2>para que sirve el lector de código <abbr title="Optical Character Recognition">OCR</abbr></h2>

					<p>Se trata de un dispositivo electrónico cuya función principal es escanear estos códigos y enviar los datos, mediante una antena Wifi, Bluetooth o cable, a un terminal u ordenador que gestionará y almacenará la información obtenida mediante las lecturas realizadas.</p>

					<p>Es un dispositivo imprescindible en sectores como la industria, el retail o la logística, en definitiva, en cualquier negocio que disponga de almacén o tienda. Donde no puede permitirse errores que le hagan perder clientes, ralentizar el trabajo o realizar una mala gestión del etiquetado o del inventario.</p>

					<p>Necesita un lector de códigos de barras que sea ágil, que permita leer a la distancia que necesite, que lea distintas tipologías de códigos, que sea robusto. Es decir, un lector capaz de trabajar con fluidez, sea cual sea su aplicación o su entorno.</p>
					
				</article>
				<article>
					
					<!-- Historia -->
			
					<h1>Historia</h1>
					<p>La primera patente de código de barras fue otorgada el 7 octubre de 1952 (US Patent #2,612,994) por los inventores Joseph Woodland, Jordin Johanson y Bernard Silver en Estados Unidos.</p>

					<p>La implementación fue posible gracias al trabajo de los ingenieros Raymond Alexander y Frank Stietz. El resultado de su trabajo fue un método para identificar los vagones del ferrocarril utilizando un sistema automático. Sin embargo, no fue hasta 1966 cuando el código de barras comenzó a utilizarse comercialmente y recién tuvo éxito comercial en 1980 .</p>
					
				</article>
			</section>
		</main>	  
	</body>
</html>
