<!DOCTYPE html>
<html>
	<head>
		
		<!-- Metadatos -->
		
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="theme-color" content="#0c212e">
		<title>Microfono</title>
		<base href="../../" />
		
		<!-- Google Founts -->
		
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&family=Roboto:wght@400;700&display=swap" rel="stylesheet">
		
		<!-- Estilos Generales -->
		
		<link rel="stylesheet" href="css/estilos.css" />
	</head>
	<body>
		
		<!-- Header -->
		<div class="wrapper">
			<header class="header">
				<span class="logo">Computador</span>
				<div>
					<button class="button"><a href="index.html">Home</a></button>
					<button class="button"><a href="DE-DS.html">Volver</a></button>
				</div>	
			</header>
			
			<!-- Wrapper content -->
			
			<section class="wrapper-content">
				<span class="title">¿Qué es el micrófono?</span>
				<p>El micrófono para pc es un dispositivo de entrada de audio a la computadora.</p>  
			</section>		
		</div>
		
		<main class="main">
			<section>
				<h1>Microfono</h1>			
				<figure>
					<img src="src/img/FONDO26.JPG">
					<figcaption>Microfono</figcaption>
				</figure>
			
				<article>
		
					<!-- ¿Qué es el microfono? -->
					
					<h2>¿Qué es el microfono?</h2>
					
					<p>El micrófono para pc es un dispositivo de <b>entrada de audio</b> a la computadora, que <strong>convierte las ondas sonoras en energía eléctrica</strong> y permite grabar sonidos y realizar conversaciones en línea, entre otras actividades.</p>
		
					<p>En las computadoras de escritorio los micrófonos se conectan por separado, desde su tarjeta de sonido o su puerto USB. Por otro lado, las laptops suelen venir con micrófonos incorporados.</p>
				
				</article>
				
				<article>
					
					<!-- ¿Para qué sirve el microfono? -->
					
					<h2>¿Para qué sirve el microfono?</h2>
					<p>Los micrófonos son dispositivos de entrada transductores, ya que convierten una forma de energía en otra.</p>
					<p>Se trata de un tipo de periférico sensible a los cambios de presión del aire en el entorno y, por ello, pueden captar la voz del usuario y transformarla en voltajes de corriente eléctrica identificados por el ordenador.</p>

					<p><strong>Generalmente, las funciones del micrófono de la computadora son las siguientes:</strong></p>
					<ol>
						<li>Crear grabaciones de audios para podcast o canciones.</li>
						<li>Realizar conversaciones a través de internet, por medio de servicios de comunicación como Skype o WhatsApp.</li>
						<li>Realizar llamadas de voz.</li>
						<li>Grabar audios para videos.</li>
						<li>Grabar instrumentos musicales.</li>
						<li>Interactuar en videoconferencias o teleconferencias</li>
					</ol>	
				</article>	
				
				<article>
					
					<!-- HIstoria -->
					
					<h2>Historia</h2>
					<p>El micrófono nace hacia <time>la segunda mitad del siglo XIX</time>, apartado del contexto informático. Aparece como un “mecanismo transductor” que permite captar cualquier onda sonora, amplificarla y llevarla de un lugar a otro en la forma de impulso eléctrico. Se integra a las primeras computadoras como dispositivo de entrada.</p>
						
		<p>Hoy en día cualquier computador moderno incluye algún tipo de micrófono. Ya sean internos o externos, como los que vienen incorporados a los audífonos, tienen una amplia gama de aplicaciones que veremos más adelante.</p>

					<figure>
						<img src="src/img/MICROFONO.JPG">
						<figcaption>Microfono</figcaption>
					</figure>
				</article>
			</section>
		</main>
	</body>
</html>