<!DOCTYPE html>
<html>
	<head>
		
		<!-- Metadatos -->
		
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="theme-color" content="#0c212e">
		<title>Monitor</title>
		<base href="../../" />
		
		<!-- Google Founts -->
		
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&family=Roboto:wght@400;700&display=swap" rel="stylesheet">
		
		<!-- Estilos Generales -->
		
		<link rel="stylesheet" href="css/estilos.css" />
	</head>
	<body>
		
		<!-- Header -->
		<div class="wrapper">
			<header class="header">
				<span class="logo">Computador</span>
				<div>
					<button class="button"><a href="index.html">Home</a></button>
					<button class="button"><a href="DE-DS.html">Volver</a></button>
				</div>	
			</header>
			
			<!-- Wrapper content -->
			
			<section class="wrapper-content">
				<span class="title">¿Qué es el monitor?</span>
				<p>El monitor es un dispositivo electrónico de salida de la computadora en el que se muestran las imágenes y textos generados por medio de un adaptador gráfico o de video de ésta</p>  
			</section>		
		</div>
		
		<main class="main">
			
			<section>
			
				<h1>El monitor</h1>
				<figure>
					<img src="src/img/FONDO32.JPG">
					<figcaption>Monitor Gamer</figcaption>
				</figure>	
				
				
				<article>
					
					<!-- ¿Que es el monitor? -->
					
					<h2>¿Que es el monitor?</h2>   
					<p>El monitor es un dispositivo electrónico de salida de la computadora en el que se muestran las imágenes y textos generados por medio de un adaptador gráfico o de video de ésta. El término monitor se refiere normalmente a la pantalla de vídeo, y su función principal y única es la de permitir al usuario interactuar con la computadora. Una computadora típica presenta un monitor con <strong>tecnología CRT (tubos de rayos catódicos)</strong>, la misma que emplean los televisores; sin embargo, hoy en día existe la <strong>tecnología TFT (transistor de película fina)</strong> <b>que reduce significativamente el volumen de los monitores</b>.</p>
					
				</article>
				
				<article>
					
					<!-- ¿Para qué sirve el monitor? -->

					<h2>¿Para qué sirve el monitor?</h2>
					
					<p>El monitor de una computadora es un componente de hardware para visualización. Muestra al usuario los resultados del procesamiento de la computadora mediante la tarjeta gráfica.</p>

					<ol>
						<li class="menu__items"><strong>Navegar</strong> entre las funciones que ofrece la computadora en su sistema operativo.</li>
						<li class="menu__items"><strong>Obtener la vista</strong> de las interacciones que se logran a través de internet, como la recepción de correo electrónico, el uso de las redes sociales, la comunicación vía video llamada.</li>
						<li class="menu__items"><strong>Visualizar</strong> archivos visuales como vídeos, películas</li>
						<li class="menu__items"><strong>Mostrar</strong> textos en proceso de escritura y otros documentos</li>
						<li class="menu__items"><strong>Observar</strong> gráficos generados con datos de la computadora</li>
						<li class="menu__items">Tener <strong>evidencia visual</strong> de un diseño, ya sea gráfico, arquitectónico o de diversa índole, realizado con el software de la computadora</li>
						<li class="menu__items"><strong>Enterarse</strong> de la información manejada en el ordenador, a través de los dispositivos de entrada y de salida</li>
						<li class="menu__items"><strong>Introducción</strong> de instrucciones y de información (en el caso de los monitores con pantalla táctil, que fungen como dispositivos de entrada y de salida a la vez)</li>
					</ol>
					
				</article>
				
				
				<article>
					
					<!-- Historia -->
					
					<h2>Historia</h2>
					
					<p>Los primeros monitores surgieron en 1981, los <strong>mda (adaptador de pantalla monocromo)</strong>, eran <mark>monocromáticos</mark> y estaban diseñados para el modo de texto. Ese mismo año salió al mercado el monitor cga(adaptador de gráficos en color),estos dos monitores se hicieron la componcia hasta la llegada del monitor ega , tres años después.</p>

					<p>El monitor <strong>ega (adaptador de gráficos mejorados)</strong>:desarrollo por IBM para la visualización de gráficos , aporta hasta 16 colores y una mayor resolución. Este tipo de pantallas dio el primer paso hacia los actuales monitor.</p>

					<p>El siguiente tipo de monitores es el VGA y el svga:el VGA llamado así por su conector (adaptador grafico de video) incorporaba altas resoluciones y un incremento en el número de colores.</p>

					<p>el <abbr title="Video Graphics Array">VGA</abbr> se convirtió en el estándar mínimo que todo hardware soportaba. Para solucionar algunos problemas de compatibilidad con respecto a los anteriores y aumentaron la resolución de la pantalla hasta los 1024 y 768 pixel.</p>

					<p>Monitores ctr(tubo de rayos catódicos ),utilizado principalmente  en  ordenadores y en televisores . Tiene buena calidad de imagines y es economía, pero consumo mucha energía, genera calor y leves radiaciones eléctricas y magnéticas.</p>

					<figure>
						<img src="src/img/FONDO33.JPG">
					</figure>
				</article>
			</section>	
		</main>	
	</body>
</html>
