<!DOCTYPE html>
<html>
	<head>
		
		<!-- Metadatos -->
		
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="theme-color" content="#0c212e">
		<title>Mouse</title>
		<base href="../../" />
		
		<!-- Google Founts -->
		
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&family=Roboto:wght@400;700&display=swap" rel="stylesheet">
		
		<!-- Estilos Generales -->
		
		<link rel="stylesheet" href="css/estilos.css" />
	</head>
	<body>
		
		<!-- Header -->
		<div class="wrapper">
			<header class="header">
				<span class="logo">Computador</span>
				<div>
					<button class="button"><a href="index.html">Home</a></button>
					<button class="button"><a href="DE-DS.html">Volver</a></button>
				</div>	
			</header>
			
			<!-- Wrapper content -->
			
			<section class="wrapper-content">
				<span class="title">¿Qué es el Mouse?</span>
				<p>El ratón hace parte de los periféricos de tu equipo y es la parte del computador que te permite interactuar con los objetos que aparecen en la pantalla, por medio de un cursor o puntero que verás en el monitor.</p>  
			</section>		
		</div>
		
		<main class="main">
			<section>
				
				<article>
					
					<!-- Mouse -->
					
					<h1>Mouse</h1>
					<h2>¿Qué es un ratono mouse?</h2>
			
					<p>El ratón hace parte de los periféricos de tu equipo y es la parte del computador que te permite interactuar con los objetos que aparecen en la pantalla, por medio de un cursor o puntero que verás en el monitor.</p>
						
					<h3>Por lo general, el mouse o ratón tiene dos botones:</h3> 
					<ol>	
						<li>El izquierdo, que te sirve para abrir, arrastrar, seleccionar y ejecutar funciones.</li>
						<li>El derecho, que te permite acceder a funciones adicionales de los comandos.</li>
					</ol>

					<p>La mayoría de los ratones cuentan con una rueda central conocida como scroll. Con ella podrás desplazarte por los documentos desde la parte superior a la inferior y viceversa.</p>

					<p>También puedes encontrar ratones inalámbricos que son más fáciles de portar porque no tienen cables y los puedes conectar por medio una conexión Bluetooth, pero estos necesitan de baterías.</p>

					<p>El ratón con cable se conecta en la torre a través de un puerto USB.</p>

					<figure>
						<img src="src/img/FONDO10.JPG">
						<figcaption>Mosuse RGB</figcaption>
					</figure>
				</article>
				
				<article>
					
					<!-- Otras alternativas del mouse -->
					
					<h2>Otras alternativas del mouse</h2>
					<p>Existen otros dispositivos que pueden hacer lo mismo que un ratón, pero desde una perspectiva diferente. Muchas personas opinan que son más fáciles de usar y también que requieren menos espacio que un ratón. Tiene una bola en la parte superior que se puede girar libremente con los dedos. En lugar de mover el dispositivo, mueves la bola con los dedos para hacer mover el puntero o cursor del trackball en la pantalla. Algunos dispositivos móviles, que no tienen pantalla táctil, tienen trackballs en miniatura que se pueden controlar con el pulgar.</p>
					<h3>Touchpad:</h3>
					<figure>
						<img src="src/img/FONDO 11.JPG">
						<figcaption>Touchpad</figcaption>
					</figure>
					<p>El touchpad es una almohadilla sensible al tacto ubicada en la parte inferior de los computadores portátiles, que permite controlar el puntero en la pantalla al hacer movimientos con uno o varios dedos.</p>
					<p>Es común en los computadores portátiles, pero también se vende por separado para algunos computadores de la marca Apple.</p>
				</article>
				<article>
					<h2>¿Para qué sirve raton?</h2>
					<p>es un dispositivo apuntador utilizado para facilitar el manejo de un entorno gráfico en una computadora.</p>
					<p>Generalmente está fabricado en plástico, y se utiliza con una de las manos.</p>
					<p>Detecta su movimiento relativo en dos dimensiones por la superficie plana en la que se apoya, reflejándose habitualmente a través de un puntero, cursor o flecha en el monitor.</p> 
					<p>El ratón se puede conectar de forma cableada (puertos PS/2 y USB), o inalámbricamente por medio de un adaptador USB que se conecta a la computadora y esta recibe la señal del ratón, aunque también pueden ser por medio de conectividad Bluetooth o infrarrojos.</p>
					
				</article>
				
				<article>
					
					<!-- Historia -->
					
					<h2>Historia</h2>
					<p>Fue diseñado por Douglas Engelbart y Bill English durante los años 1960 en el Stanford Research Institute, un laboratorio de la Universidad Stanford, en pleno Silicon Valley en California. Más tarde fue mejorado en los laboratorios de Palo Alto de la compañía Xerox (conocidos como Xerox PARC).<p>

					<figure>
						<img src="src/img/FONDO14.JPG">
						<figcaption>Douglas Engelbart</figcaption>
					</figure>
				</article>
			</section>		
		</main>
	</body>
</html>
