<!DOCTYPE html>
<html>
	<head>
		
		<!-- Metadatos -->
		
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="theme-color" content="#0c212e">
		<title>Parlante</title>
		<base href="../../" />
		
		<!-- Google Founts -->
		
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&family=Roboto:wght@400;700&display=swap" rel="stylesheet">
		
		<!-- Estilos Generales -->
		
		<link rel="stylesheet" href="css/estilos.css" />
	</head>
	<body>
		
		<!-- Header -->
		<div class="wrapper">
			<header class="header">
				<span class="logo">Computador</span>
				<div>
					<button class="button"><a href="index.html">Home</a></button>
					<button class="button"><a href="DE-DS.html">Volver</a></button>
				</div>	
			</header>
			
			<!-- Wrapper content -->
			
			<section class="wrapper-content">
				<span class="title">¿Qué es un parlante?</span>
				<p>consiste en una caja con un electroimán en su interior que hace vibrar una membrana, que resuena en la caja y genera el sonido</p>  
			</section>		
		</div>
		<main class="main">
			<section>
				<h1>Parlante</h1>
				<figure>
					<img src="src/img/FONDO36.JPG">
					<figcaption>Parlate</figcaption>
				</figure>
				
				<article>
					
					<!-- ¿Qué es el parlante? -->
					
					<h2>¿Qué es el parlante?</h2>
					<p>Aparato para convertir impulsos eléctricos en sonido; consiste en una caja con un electroimán en su interior que hace vibrar una membrana, que resuena en la caja y genera el sonido; se conecta a un aparato que produce impulsos eléctricos modulados, como un amplificador, un receptor de radio, una televisión o una computadora.</p>
					
				</article>
				
				<article>
	
					<!-- ¿Para qué sirve el parlante?  -->
					
					<h2>¿Para qué sirve el parlante?</h2>

					<p>Son los dispositivos que le dan salida de audio al computador, gracias a ellos puedes escuchar el sonido de la música o video que estés reproduciendo. Dependiendo del modelo, los puedes conectar al puerto USB o al de audio.</p>
					<p>Algunos computadores traen los altavoces incorporados dentro del monitor.</p>
					
				</article>
				
				<article>
					
					<!-- Historia -->

					<h2>Historia</h2>
					<p>combinación de todos los avances a lo largo de la historia resulta en lo que hoy en día conocemos por altavoz.</p>  

					<h3>¿Cómo se transmite el sonido de un altavoz en la actualidad?</h3>

					<p>El doble procedimiento se denomina eléctrico El primer dispositivo que permitió al público en general escuchar música en casa fue el fonógrafo, patentado por Thomas Edison. 19 de diciembre de 1877</p>

					<p>En 1876, Alexander Graham Bell patento su primer altavoz, como parte de su teléfono, capaz de reproducir el habla inteligible. Seguidamente, en 1877, Enrst Siemens desveló una versión mejorada. Posteriormente, Horace Short patentó en 18989 un diseño para un altavoz accionado por un sistema de aire comprimido.</p>


					<p class="title">Ahora bien, la -mecánico-acústico y podemos diferenciarlo en dos etapas:</p> 

					<ol>
						<li>Las ondas eléctricas se convierten en energía mecánica.</li>
						<li>La energía mecánica se convierte en ondas de frecuencia acústica.</li>
						<li>Algo que nos puede parecer realmente simple y un artículo prácticamente de primer uso, instalado en nuestros.</li>
					</ol>	
					<p>Smartphone, vehículos y cualquier dispositivo electrónico, es el resultado de más de ciento cincuenta años de progreso y evolución.</p>

					<figure>
						<img src="src/img/FONDO37.JPG">
					</figure>
				</article>
			</section>	
		</main>	
	</body>
</html>
