<!DOCTYPE html>
<html>
	<head>
		
		<!-- Metadatos -->
		
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="theme-color" content="#0c212e">
		<title>Lapiz optico</title>
		<base href="../../" />
		
		<!-- Google Founts -->
		
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&family=Roboto:wght@400;700&display=swap" rel="stylesheet">
		
		<!-- Estilos Generales -->
		
		<link rel="stylesheet" href="css/estilos.css" />
	</head>
	<body>
		
		<!-- Header -->
		<div class="wrapper">
			<header class="header">
				<span class="logo">Computador</span>
				<div>
					<button class="button"><a href="index.html">Home</a></button>
					<button class="button"><a href="DE-DS.html">Volver</a></button>
				</div>	
			</header>
			
			<!-- Wrapper content -->
			
			<section class="wrapper-content">
				<span class="title">¿Qué es la pluma de luz?</span>
				<p>Lápiz óptico es un dispositivo señalador que es similar a una pluma.</p>  
			</section>		
		</div>
		
		<main class="main">
			<section>
				
				<h1>Pluma de luz</h1>
				<figure>
					<img src="src/img/FONDO15.JPG">
					<figcaption>Lapiz optico</figcaption>
				</figure>
				
				<article>
					
					<!-- ¿Qué es la pluma de luz? -->
					
					<h2>¿Qué es la pluma de luz?</h2>
					<p>Lápiz óptico es un dispositivo señalador que es similar a una pluma. Se utiliza para seleccionar un elemento de menú que se muestra o dibujar en la pantalla del monitor. Consiste en una célula fotoeléctrica y un sistema óptico que se colocan en un tubo pequeño. Cuando la punta de un lápiz óptico se mueve sobre la pantalla del monitor y pluma botón es presionado, su elemento de detección fotocélula detecta la ubicación de la pantalla y envía la señal correspondiente a la CPU.</p>
					
				</article>
				
				<article>
					
					<!-- ¿Para qué sirve la pluma de luz? -->
					
					<h2>¿Para qué sirve la pluma de luz?</h2>
					<p>El lápiz óptico es un periférico de entrada para computadoras, en forma de una varita fotosensible, que puede ser usado para apuntar a objetos mostrados en un televisor de CRT o un monitor, en una manera similar a una pantalla táctil pero con mayor exactitud posicional. Este periférico es habitualmente usado para sustituir al mouse o, con menor éxito, a la tableta digitalizadora. Está conectado a un cable eléctrico y requiere de un software especial para su funcionamiento. Haciendo que el lápiz toque el monitor el usuario puede elegir los comandos de los programas (el equivalente a un clic del mouse), bien presionando un botón en un lado del lápiz óptico o presionando este contra la superficie de la pantalla.</p>
					
				</article>
				
				<article>
					
					<!-- Historia -->

					<h2>Historia</h2>
					<p><strong>El lápiz óptico</strong> fue creado en 1952 como parte de la Computadora Whirlwind, desarrollado por el Instituto Tecnológico de Massachusetts. A principios de la década de 1970 máquinas muy especializadas y de alto presupuesto como la CMX 600 lo incorporaban para dar las órdenes necesarias.</p>

					<p>Se hizo bastante popular durante los años 1980, cuando se utilizó en el Fairlight CMI y el BBC Micro. El lápiz óptico fue compatible también con varios tarjetas gráficas de los IBM PCs, incluyendo el Color Graphics Adapter (CGA), el Hércules Graphics Card (HGC), y el Enhanced Graphics Adapter (EGA). Desde 1984, los concursantes del concurso de televisión Jeopardy! utilizan lápices ópticos para escribir sus apuestas.</p>
					<p>Dado que los lápices ópticos operan mediante la detección de luz emitida por los fósforos de la pantalla, debe haber un cierto nivel de intensidad no nulo en la posición de las coordenadas para ser seleccionado; de lo contrario, el lápiz no se activará.</p>

					<figure>
						<img src="src/img/FONDO16.JPG">		
					</figure>
				</article>	
			</section>	
		</main>
	</body>
</html>
