<!DOCTYPE html>
<html>
	<head>
		
		<!-- Metadatos -->
		
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="theme-color" content="#0c212e">
		<title>Proyector</title>
		
		<base href="../../" />
		
		<!-- Google Founts -->
		
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&family=Roboto:wght@400;700&display=swap" rel="stylesheet">
		
		<!-- Estilos Generales -->
		
		<link rel="stylesheet" href="css/estilos.css" />
	</head>
	<body>
		
		<!-- Header -->
		<div class="wrapper">
			<header class="header">
				<span class="logo">Computador</span>
				<div>
					<button class="button"><a href="index.html">Home</a></button>
					<button class="button"><a href="DE-DS.html">Volver</a></button>
				</div>	
			</header>
			
			<!-- Wrapper content -->
			
			<section class="wrapper-content">
				<span class="title">¿Qué es un proyector?</span>
				<p>es un aparato óptico que recibe una señal de vídeo y proyecta la imagen correspondiente en una pantalla</p>  
			</section>		
		</div>
		<main class="main">
			
			<section>
				<h1>Proyector</h1>
				<figure>
					<img src="src/img/FONDO44.JPG">
				</figure>
				
				<article>
					
					<!-- ¿Qué es el proyector? -->
					
					<h2>¿Qué es el proyector?</h2>
					<p>Un proyector de vídeo, vídeo proyector, cañón proyector o data show es un aparato óptico que recibe una señal de vídeo y proyecta la imagen correspondiente en una pantalla de proyección usando un sistema de lentes, permitiendo así mostrar imágenes fijas o en movimiento.</p>


					<p>Todos los proyectores de vídeo utilizan una luz muy brillante para proyectar la imagen, y los más modernos pueden corregir curvas, borrones y otras inconsistencias a través de los ajustes manuales.<p>
					
				</article>
				
				<article>

					<h2>¿Qué para que sirve proyector?</h2>
				
					<p>El proyector digital es un dispositivo encargado de recibir por medio de un puerto, las señales de video procedentes de la computadora, procesar la señal digital y descodificarla para poder ser enviada por medio de luz a unos micro-espejos encargados de la proyección digital en alguna superficie clara.</p>
					
				</article>
				
				
				<article>
					
					<!-- Historia -->
					
					<h2>Historia</h2>
					<p>Si nos remontamos al nacimiento del proyector, tenemos que saber que está asociado a la aparición del cine. Fue el fotógrafo, Eadweard Muybridge, quien lo invento en 1880. Este primer prototipo proyectaba secuencias de imágenes en blanco y negro, como si de una secuencia fotográfica se tratara. También, empleaba unos discos de vidrio de colores que giraban rápidamente para crear sensación de movimiento.</p>
					<p>La televisión fue otro gran invento de la década de los 50 que influyó, notablemente, en la evolución del proyector. La principal diferencia es que este aparato comenzó a funcionar con tubos de rayos catódicos (CRT), generando así la misma imagen que podemos visualizar en una tele. La superposición de estos tubos permitió la proyección de imágenes a color. Estos proyectores llegaron, prácticamente, hasta nuestros días. Se emplearon hasta la década de los 90.</p>

					<p>La llegada de un nuevo milenio estuvo marcada por la necesidad de seguir avanzando tecnológicamente. Fue en el año 2000 cuando se produjo la proyección de la primera película en el cine en formato digital. Esta nueva tecnología, denominada DLP, también se aplicó a los proyectores. Se trata de pequeños espejos colocados en un chip, donde cada uno de ellos representa un píxel. La resolución de la imagen dependerá del número de espejos colocados.</p>

					<p>En la actualidad conviven la tecnología DLP con la LCD, también estamos en proceso de cambio desde el punto de vista de la fuente de luz, desde el uso de la bombilla se está dando paso al láser.</p>

					<p>Estas innovaciones han supuesto una gran diferencia, sobre todo en cuanto al contraste y a la profundidad de la imagen.Desde Mas que proyectores queremos destacar que estamos apostando por la tecnología LCD por las prestaciones que permiten dar uso a los proyectores en entornos televisivos, sin defectos de imagen y actualmente hemos añadido a nuestro stock la última tecnología en Proyectores Láser.</p>
					
				</article>
				
				<article>

					<!-- Tipos de proyectores -->
					
					<h2>Tipos de proyectores</h2>

					<h3>Proyector de TRC:</h3>
					<p>El proyector de tubo de rayos catódicos (TRC) típicamente tiene tres tubos catódicos de alto rendimiento, uno rojo, otro verde y otro azul, y la imagen final se obtiene por la superposición de las tres imágenes (síntesis aditiva) en modo analógico.</p>

					<p><strong>Ventajas:</strong> es la más antigua, pero es la más extendida en aparatos de televisión.
		Inconvenientes: al ser la más antigua, está en extinción en favor de los otros sistemas descritos en este punto. Los proyectores de TRC son adecuados solamente para instalaciones fijas ya que son muy pesados y grandes, además tienen el inconveniente de la complejidad electrónica y mecánica de la superposición de colores.</p>

					<h3>Proyector LCD:</h3>
					<p>El sistema de pantalla de cristal líquido (LCD) es el más simple, por tanto uno de los más comunes y accesibles para el uso doméstico. En esta tecnología, la luz se divide en tres y se hace pasar a través de tres paneles de cristal líquido, uno para cada color fundamental (rojo, verde y azul); finalmente las imágenes se recomponen en una, constituida por píxeles, y son proyectadas sobre la pantalla mediante un objetivo.</p>

					<p><strong>Ventajas:</strong>es más eficiente que los sistemas DLP (imágenes más brillantes) y produce colores muy saturados.
		Inconvenientes: es visible un efecto de pixelación (aunque los avances más recientes en esta tecnología lo han minimizado), es probable la aparición de píxeles muertos y la vida de la lámpara es de aproximadamente 2000 horas.</p>


					<h3>Proyector 3D:</h3>
					<p>Proyector de última generación que muestra imágenes en una pantalla especial tratada de manera que las imágenes que proyecta envuelven al espectador dando la sensación de imagen envolvente.</p>

					<p><strong>Ventajas:</strong> Más pulgadas con el proyector, pudiendo ver una imagen de por ejemplo 40 o 100 pulgadas según la distancia respecto a la pantalla o zona donde proyectemos.</p>

					<p><strong>Inconvenientes:</strong> El encendido es más lento que el de un televisor y la vida útil de la lámpara es inferior a la del panel de un televisor. Tendremos que controlar la luz de la habitación, en la mayoría de los casos dejarla a oscuras para disfrutar de mejor contraste y usar obligatoriamente gafas 3D.</p>

					<h3>Proyector con TDT:</h3>

					<p>Este tipo de proyector se está haciendo cada día más común en la vida diaria de las personas. <u>Por sus siglas Proyector TDT, significa: "Proyector de Televisión Digital Terrestre"</u> y es por medio de este con el cual muchas personas tienen la capacidad de transmitir una señal en pantalla mega grande y no pequeña como lo suelen ser otros. Aunado a esto, este tipo en especial, brindan la posibilidad de poder mejorar ampliamente la calidad de sonido y de imagen, sin importar que tipo de material audiovisual estas transmitiendo.</p>

				</article>
				
				<article>
					
					<!-- Partes de un proyector digital -->
					
					<h2>Partes de un proyector digital.</h2>
				
					<p>Los proyectores digitales, internamente, contienen los circuitos electrónicos necesarios para su adecuado funcionamiento. Externamente, las partes que componen un proyector digital son las siguientes:</p>


					<ul>
						<li><strong>Panel de controles:</strong> posibilita la manipulación de las funciones del proyector, como, por ejemplo, el brillo, la nitidez, la posición, etc.</li>

						<li><strong>Cubierta:</strong> su función principal es la de proteger todos los elementos interiores que contiene un proyector</li>
						<li><strong>Puertos:</strong> encargados de permitir la entrada de señales de vídeo procedentes del ordenador, de una videocámara, etc.</li>
						<li><strong>Conector de alimentación:</strong> permite la llegada de corriente eléctrica desde el enchufe.</li>

						<li><strong>Lente:</strong> Permite visualizar la imagen que se cita mostrar.</li>

					</ul>

					<figure><img src="src/img/FONDO46.JPG"></figure>
				</article>
			</section>
		</main>
	</body>	
</html>