<!DOCTYPE html>
<html>
	<head>
		
		<!-- Metadatos -->
		
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="theme-color" content="#0c212e">
		<title>Scanner</title>
		<base href="../../" />
		
		<!-- Google Founts -->
		
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&family=Roboto:wght@400;700&display=swap" rel="stylesheet">
		
		<!-- Estilos Generales -->
		
		<link rel="stylesheet" href="css/estilos.css" />
	</head>
	<body>
		
		<!-- Header -->
		<div class="wrapper">
			<header class="header">
				<span class="logo">Computador</span>
				<div>
					<button class="button"><a href="index.html">Home</a></button>
					<button class="button"><a href="DE-DS.html">Volver</a></button>
				</div>	
			</header>
			
			<!-- Wrapper content -->
			
			<section class="wrapper-content">
				<span class="title">¿Qué es el Scaner?</span>
				<p>El escáner es un dispositivo o periférico de computadora que ha sido diseñado para permitirnos digitalizar una imagen...</p>  
			</section>		
		</div>
		
		<main class="main">
			<section>
				<h1>Escaner</h1>
				<figure>
					<img src="src/img/FONDO21.jpg">
					<figcaption>Scanner</figcaption>
				</figure>
				
				<article>
					
					<!-- ¿Qué es un escáner? -->
					
					<h2>¿Qué es un Scanner?</h2>
					<p>El escáner es un dispositivo o periférico de computadora que ha sido diseñado para permitirnos digitalizar una imagen impresa para transferirla a nuestra computadora con el fin de procesarla a través de programas como Photoshop o GIMP, o incluirla en algún proyecto de diseño gráfico o documento de otro tipo.</p>

					<p>Mediante el escáner estaremos en posición de realizar tareas que de otra manera serían poco prácticas o que demandaría mucho trabajo, tales como el reconocimiento</p>

					<p>de textos mediante el OCR, o la obtención de imágenes de elementos específicos, los que no podemos encontrar en Internet.</p>

					<h3>En general, se puede decir que existen tres tipos de escáner:</h3>  

					<dl>
						<dt>Los escáneres planos</dt>
						<dd>permiten escanear un documento colocándolo de cara al panel de vidrio. Éste es el tipo de escáner más común.</dd>

						<dt>Los escáneres manuales</dt> 
						<dd>son de tamaño similar. Éstos deben desplazarse en forma manual (o semi-manual) en el documento, por secciones sucesivas si se pretende escanearlo por completo.</dd>

						<dt>Los escáneres con alimentador de documentos</dt> 
						<dd>hacen pasar el documento a través de una ranura iluminada para escanearlo, de manera similar a las máquinas de fax. Este tipo de escáner se está incorporando cada vez más en máquinas como las impresoras multifunción.</dd>                                                                                                                                 

						<p>También existen escáneres capaces de escanear elementos específicos, como diapositivas.</p>
					</dl>
					
					
				</article>	
				
				<article>
					
					<!-- ¿Para qué sirve el escáner? -->
				
					<h2>¿Para qué sirve el Scanner?</h2>
					<p>Un escáner es un periférico de captura utilizado para escanear documentos; es decir, convertir un documento en papel en una imagen digital. En general, se puede decir que existen tres tipos de escáner: Los escáneres planos permiten escanear un documento colocándolo de cara al panel de vidrio.</p>
				
				</article>
				
				<article>
					
					<!-- Historia -->
					
					<h2>Historia</h2>
					<p>El escáner nace en 1984 cuando Microtek crea el MS-200, el primer escáner blanco y negro que tenía una resolución de 200dpi.</p>

					<p>Este escáner fue desarrollado para Apple Macintosh. Los escáneres pueden tener accesorios como un alimentador de hojas automático o un adaptador para diapositivas y transparencias.</p>

					<p>Al obtenerse una imagen digital se puede corregir defectos, recortar un área específica de la imagen o también digitalizar texto mediante técnicas de OCR. Estas funciones las puede llevar a cabo el mismo dispositivo o aplicaciones especiales.</p>
					<p>Hoy en día es común incluir en el mismo aparato la impresora y el escáner.</p>
					<p>Son las llamadas impresoras multifunción. También están surgiendo el usar como escáner la cámara de los teléfonos inteligentes.</p>  

					<figure>
						<img src="src/img/FONDO22.JPG">
						<figcaption>Scaner</figcaption>
					</figure>	
				</article>
			</section>
		</main>
	</body>
</html>
