<!DOCTYPE html>
<html>
	<head>
		
		<!-- Metadatos -->
		
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="theme-color" content="#0c212e">
		<title>Teclado</title>
		<base href="../../" />
		
		<!-- Google Founts -->
		
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&family=Roboto:wght@400;700&display=swap" rel="stylesheet">
		
		<!-- Estilos Generales -->
		
		<link rel="stylesheet" href="css/estilos.css" />
	</head>
	<body>
		
		
		<!-- HEADER -->
		<div class="wrapper">
			<header class="header">
				<span class="logo">Computador</span>
				<div>
					<button class="button"><a href="index.html">Home</a></button>
					<button class="button"><a href="DE-DS.html">Volver</a></button>
				</div>	
			</header>
			
			<!-- Wrapper content -->
			
			<section class="wrapper-content">
				<span class="title">¿Qué es el teclado?</span>
				<p>El teclado de una computadora es uno de los principales dispositivos de entrada y sirve para introducir letras, símbolos o números o comandos que activan algún tipo de programa o una determinada acción.</p>  
			</section>		
		</div>
		<main class="main">
			
			<section>
			
				<h1>El Teclado</h1>

				<figure>
					<img src="src/img/fondo 1.jpg">
					<figcaption>Teclado RGB</figcaption>
				</figure>
				
				<article>
					
					<!-- ¿Qué es el teclado? -->
				
					<h2>¿Qué es el teclado?</h2>		
					<p>El teclado de una computadora es uno de los principales dispositivos de entrada y sirve para introducir letras, símbolos números o comandos que activan algún tipo de programa o una determinada acción.</p>
					<p>Los teclados no reciben información por eso se les llama “de entrada” o input pues sólo logran enviar información. En una computadora portátil el teclado está incorporado, en cambio, en una computadora de escritorio o de mesa el teclado.La funcionalidad de los teclados se asemeja a la de las máquinas de escribir donde cada tecla apretada introduce una letra, símbolo o número. El teclado también puede comandar diferentes funciones a la computadora a través de la selección de un conjunto de teclas específicas.</p> 
					
				</article>
				
				<article>
					
					<!-- ¿Para Qué Sirve El Teclado? -->

					<h2>¿Para Qué Sirve El Teclado?</h2>

					<p>un teclado es una herramienta o bien dispositivo de entrada formado por un conjunto de teclas y también inspirado en la vieja máquina de redactar, que esencialmente sirve para redactar o bien mandar datos a un PC a través de una suerte de palanca mecánica o bien interruptores electrónicos que conocemos mejor con el nombre de teclas.</p>

					<p>Este dispositivo de entrada marcha en el momento en que se ha conectado a un puerto USB o bien PS/2 gracias una organización matricial, donde cada una de las teclas está asociada a un código numérico a fin de que de esta manera el software informático pueda aplicar a cada código numérico un significado concreto. Merced a que este sistema marcha de este modo es que podemos usar un mismo teclado para diferentes idiomas sin importar lo más mínimo los caracteres que estén impresos en exactamente el mismo.</p>
					
				</article>
				
				<article>
				
				<!-- Historia -->

					<h2>Historia</h2>

					<figure>
						<img src="src/img/FONDO 4.JPG">
						<figcaption>Maquina de escribir</figcaption>
					</figure>

					<h3>El origen del teclado</h3> 
					<p>Data de la temporada en la que aparecieron las máquinas de redactar, mil novecientos setenta y cuatro año en el que se lanzó la primera máquina de redactar marca Remington. Para el año en que aparecieron exactamente las mismas fue una enorme revolución que se fue amoldando y evolucionando con los años y la tecnología, brindándoles a los usuarios la ocasión de redactar más palabras por minuto, hacerlo de una manera más cómoda y dándoles un resultado más inteligible y al tiempo estándar.</p>

					<h3>La primera marca reconocida</h3>
					<p><strong>que se aventuró a desarrollar teclados para computadoras fue IBM</strong>, quien efectuó la proeza en un tiempo en el que los equipos eran limitados por su altos costes y pues tenían una escasa funcionalidad. En el momento en que el planeta de la informática fue medrando y se hizo masiva fueron apareciendo nuevos modelos mas todos muy afines a los que hallamos hoy día en el mercado. No fue sino más bien hasta el momento en que llegó Windows noventa y cinco de Microsoft cuando otras compañías se atrevieron asimismo a fabricar y participar en el rentable negocio de estos dispositivos.</p>

					<p>Pese al paso del tiempo y de los avances de la tecnología esta herramienta que apareció en los comienzos no ha sufrido muchas modificaciones en nuestros días, solo se han sumado la posibilidad de conectarlos a la computadora por medio de un puerto USB, los tamaños, los diseños creativos y el lanzamiento de los teclados inalámbricos que emplean bien sea Wifi o bien Bluetooth a fin de que nos olvidemos por completo de los latosos cables.</p>
					
				</article>
				
				<article>
					
					<!-- Partes del teclado -->

					<h2>Partes del teclado</h2>
					<figure>
						<img src="src/img/fondo 6.jpg">
						<figcaption>Partes de un teclado</figcaption>
					</figure>

					<p>Las distintas partes que conforman la estructura de un teclado pueden dividirse en cuatro secciones primordiales conforme sea su función, estas son:</p>


					<h3>Teclado alfanumérico:</h3>

					<p>en esta zona se hallan todas y cada una de las teclas del alfabeto, los <i>diez dígitos decimales</i>, <i>signos de puntuación</i>, <i>signos de acentuación</i> y <i>la barra espaciadora</i>. En esta parte asimismo hallamos ciertas teclas con uno o bien más signos que para ser utilizados deben activarse así como otras llamadas <strong>teclas modificadoras</strong> o bien de comando: Control <kbd>Ctrl</kbd>, Alt <kbd>Alt</kbd> y <kbd>Alt Gr</kbd>, Mayúsculas <kbd>Shift</kbd>, Mayús o bien Mayúsculas), mayúscula ñ <kbd>shift</kbd>, bloqueo de mayúscula <kbd>Caps Lock</kbd>, retroceso b <kbd>Back Space</kbd>, tabulación f <kbd>Tab</kbd>, Escape <kbd>Esc</kbd>, retorno (Return o bien <kbd>Intro</kbd> y también Imprimir Pantalla <kbd>PrnScr</kbd>.</p>

					<h3>Teclado numérico: </h3>

					<p>esta zona situada en la parte derecha tiene una apariencia a fín a la de una calculadora y se compone de diecisiete teclas: los diez números decimales, signos de operaciones matemáticas (suma <kbd>+</kbd>, resta <kbd>-</kbd>, multiplicación <kbd>*</kbd> y división <kbd>/</kbd>), <kbd>Bloq Num</kbd> o bien <kbd>Num Lock</kbd> (que sirven para activar o bien desactivar la función de las teclas numéricas) y la tecla <kbd>Intro</kbd> y <kbd>Supr</kbd>.</p>
					<p>teclado de función o bien funciones: estas teclas están situadas en la zona superior de este dispositivo de entrada y van desde el <kbd>F1</kbd> hasta el <kbd>F12</kbd>, exactamente las mismas cumplen la función de servir como una suerte de atajos para efectuar determinadas labores en el sistema informático. Del mismo modo, en esta parte pueden encontrarse otras teclas que nos dejan acceder a internet, abrir nuestro e mail y poder manejar la reproducción de ficheros multimedia, estas funciones no son de carácter universal y su presencia dependerá del fabricante mas asimismo se incluyen en las teclas de funciones.</p>

					<h3>Teclado de edición o bien de cursor: </h3>
					<p>esta parte está compuesta por las teclas : <kdp>Imp Pant</kdp>, Bloq de desplazamiento, pausa, comienzo, fin, introducir, eliminar, <kdp>repag</kdp>, <kdp>av pag</kdp> y las flechas direccionales que sirven como una suerte de mouse puesto que nos dejan movernos justo a donde precisemos así sea en un texto, imagen, juego etcétera Estas teclas están situadas en el teclado numérico y alfanumérico.</p>

					<h3>Teclas adicionales: </h3>
					<p>estas tienen distintas funciones y se hallan situadas en el bloque numérico y alfanumérico: Comienzo, <kdp>Insert</kdp>, <kdp>Supr</kdp>, <kdp>Fin</kdp>, <kdp>Re pág</kdp>, <kdp>Print Screen</kdp> o bien <kdp>ImprPant</kdp>. En teclados más viejos se pueden ver asimismo las teclas <kbd>Print Screen</kbd>, <kbd>Scroll lock</kbd> y <kbd>Pause Break</kbd> mas su presencia va a depender del programa o bien el sistema operativo. Los dispositivos más modernos pueden incluir las teclas Contextual o bien de Windows que sirven para el sistema operativo Windows particularmente.</p>

					<h3>Teclas inertes: </h3>
					<p>estas sirven para poder sacar caracteres usados en otros idiomas diferentes al inglés (tildes), llevan ese nombre debido a que siendo pulsadas no sucede nada hasta el momento en que se pulse otra tecla después.</p> 
					
				</article>
			</section>	
		</main>
	</body>
</html>