<!DOCTYPE html>
<html lang="es">
	<head>
		
		<!-- Metadatos -->
		
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="theme-color" content="#0c212e">
		<title>Blu-Ray</title>
		<base href="../../">
		
		<!-- Google Founts -->
		
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&family=Roboto:wght@400;700&display=swap" rel="stylesheet">
		
		<!-- Estilos Generales -->
		
		<link rel="stylesheet" href="css/estilos.css" />
	</head>
	<body>
		
		<!-- Header -->
		<div class="wrapper">
			<header class="header">
				<span class="logo">Computador</span>
				<div>
					<button class="button"><a href="index.html">Home</a></button>
					<button class="button"><a href="D-Storage.html">Volver</a></button>
				</div>	
			</header>
			
			<!-- Wrapper content -->
			
			<section class="wrapper-content">
				<span class="title">¿Qué es un Blu-Ray?</span>
				<p>El disco Blu-ray, conocido como Blu-ray o simplemente BD (en inglés: Blu-ray Disc), es un formato de disco óptico desarrollado por la Blu-ray Disc Association (BDA)</p>  
			</section>		
		</div>
		<main class="main">
			<section>
				
				<h1>Blu-Ray</h1>
      			
				<figure>
					<img
						 alt="Complemento de alta definici&oacute;n/Blu-ray para Roxio Creator NXT 9 -  Descripci&oacute;n general"
						 src="src/img/image3.png"
						 title="Complemento de alta definici&oacute;n/Blu-ray para Roxio Creator NXT 9 -  Descripci&oacute;n general"
      				/>
				</figure>
				
				<article>
    	
					<h2>&iquest;Qué es el Blu-Ray?</h2>
					<p>El disco Blu-ray, conocido como Blu-ray o simplemente BD (en ingl&eacute;s: Blu-ray Disc), es un&nbsp;formato de disco &oacute;ptico desarrollado por la Blu-ray Disc Association (BDA), empleado para v&iacute;deo de alta definici&oacute;n (HD), 3D y UltraHD&nbsp;y con mayor capacidad de almacenamiento de datos de alta densidad que la del DVD.</p>

					<h2>&iquest;Cu&aacute;ntos tipos de Blu Ray existen?</h2>

					<p>Los productos de&nbsp; Blu-Ray &nbsp;vienen en varios formatos, incluidos BD-R (disco grabable&nbsp; Blu-Ray), BD-R DL (grabable de doble capa) y BD-RE (disco regrabable&nbsp; Blu-Ray). &iquest;Cu&aacute;les son las diferencias entre los formatos? Las diferencias son las siguientes: Los BD-R graban datos una sola vez, luego el disco s&oacute;lo se puede leer</p>
					
				</article>
				
    
				<!--  -->
				
				<article>
				
					<h2>Historia</h2>
					
    
					<p>O es hasta 2003 que empiezan a aparecer las primeras unidades de Blu-ray; concretamente,&nbsp; la primera fue la Sony BDZ-S77, una grabadora de discos que se pone a la venta en Jap&oacute;n a un precio de casi 4000 d&oacute;lares al cambio, con una capacidad de 23 GB.</p>

    
					<p class="c14"><span class="c20 c9 c27">Creadores</span></p>
   
					<p>La Blu-ray Disc Association es un consorcio industrial que desarrolla y licencia la tecnolog&iacute;a Blu-ray. Es responsable de establecer los est&aacute;ndares del formato as&iacute; como de promover y desarrollar a&uacute;n m&aacute;s oportunidades de negocios para los discos Blu-ray</p>
					
      			</article>
			</section>
		</main>	
	</body>
</html>
