<!DOCTYPE html>
<html lang="es">
	<head>
		
		<!-- Metadatos -->
		
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="theme-color" content="#0c212e">
		<title>Memoria RAM</title>
		<base href="../../">
		
		<!-- Google Founts -->
		
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&family=Roboto:wght@400;700&display=swap" rel="stylesheet">
		
		<!-- Estilos Generales -->
		
		<link rel="stylesheet" href="css/estilos.css" />
	</head>
	<body>
		
		<!-- Header -->
		<div class="wrapper">
			<header class="header">
				<span class="logo">Computador</span>
				<div>
					<button class="button"><a href="index.html">Home</a></button>
					<button class="button"><a href="D-Storage.html">Volver</a></button>
				</div>	
			</header>
			
			<!-- Wrapper content -->
			
			<section class="wrapper-content">
				<span class="title">¿Qué es una Memoria RAM?</span>
				<p>La memoria RAM es la memoria principal de un dispositivo, esa donde se
        almacenan de forma temporal los datos de los programas que est&aacute;s
        utilizando en este momento</p>  
			</section>		
		</div>
		<main class="main">
			<section>
				<h1>Memoria RAM</h1>
				<figure>
					<img alt="Memoria RAM" src="src/img/image8.jpg"/>  
					<figcaption>Memoria RAM</figcaption>
				</figure>	
				
				<article>
						
					<!-- ¿Qué es la memoria RAM? -->
					
					<h2>¿Qué es la memoria RAM?</h2>
				

					<p>La memoria RAM es la memoria principal de un dispositivo, esa donde se almacenan de forma temporal los datos de los programas que est&aacute; sutilizando en este momento. Sus siglas significan&nbsp;Random Access Memory , lo que traducido al espa&ntilde;ol ser&iacute;a&nbsp; <em>Memoria de Acceso Aleatorio</em>, y es&nbsp; <strong>un tipo de memoria que te puedes encontrar en cualquier dispositivo</strong>, desde ordenadores de sobremesa hasta tel&eacute;fonos m&oacute;viles.</p>
					
					<p>La memoria RAM tiene dos caracter&iacute;sticas que la diferencian del resto de tipos de almacenamiento. Por una parte tiene una enorme velocidad, y por otra&nbsp; <strong>los datos s&oacute;lo se almacenan de forma temporal</strong>. Esto quiere decir que cada vez que reinicies o apagues tu ordenador, lo normal es que los datos que haya almacenados en la RAM se pierdan.</p>
					
					<p>Teniendo en cuenta que la RAM sirve para que el ordenador o dispositivo m&oacute;vil gestione los datos de las aplicaciones en funcionamiento,&nbsp; <strong>la cantidad que tengas afecta directamente al rendimiento &nbsp;de tu dispositivo</strong>. Cuanta m&aacute;s RAM tengas m&aacute;s aplicaciones podr&aacute;s gestionar a la vez, y de ah&iacute; su importancia porque si no hay suficiente&nbsp;<a href="https://www.xataka.com/basics/recuperar-velocidad-ordenador-lento-15-formas-acelerar-pc" target="_blank" class="active-link">el ordenador puede ir lento</a>.</p>
					
					<p>A lo que te sueles referir como memoria RAM cuando est&aacute;s hablando de ella como un componente f&iacute;sico es a unas tarjetas que van conectadas directamente a la placa base de tu ordenador. Estas tarjetas tienen diferentes m&oacute;dulos de memoria integrada que est&aacute;n conectados entre s&iacute;, y en dispositivos como ordenadores hay ranuras para tener varias de estas tarjetas.</p>
					<p>De esta manera, si quieres que tu PC tenga 32 GB de RAM puedes tener dos tarjetas, de manera que en el caso de que una se rompa puedas seguir utilizando la otra hasta tener un reemplazo. Esto en los ordenadores de sobremesa y port&aacute;tiles, porque dispositivos como los tel&eacute;fonos m&oacute;viles no suelen poder permitir cambiar sus componentes.</p>
				</article>
				
				<article>
					
					<!-- ¿Para que sirve la memoria RAM? -->
    
					<h2>¿Para qu&eacute; sirve la RAM?</h2>
    
					<p>Tu ordenador o m&oacute;vil no ejecuta todas las acciones utilizando &uacute;nicamente el disco duro, ya que si lo hiciera tardar&iacute;a demasiado en ejecutarlas. Por eso, se utiliza un tipo de memoria mucho m&aacute;s r&aacute;pida para hacer estas tareas m&aacute;s inmediatas, y es la encargada de almacenar&nbsp; <strong>las instrucciones de la CPU o los datos que las aplicacione</strong> &nbsp;necesitan constantemente. Estas instrucciones quedan all&iacute; hasta que se apague el ordenador o hasta que se sustituyan por otros nuevos.</p>
					
    
					<p>Para que lo entiendas, vamos a imaginarnos que est&aacute;s trabajando en tu escritorio. Los cajones son tu disco duro, donde almacenas todo lo que puedes utilizar. Pero tambi&eacute;n necesitas poner en el propio escritorio&nbsp; <strong>las herramientas y archivos que est&aacute;s utilizando</strong> , y eso es lo que har&iacute;a en este caso la memoria RAM. As&iacute; no tienes que estar abriendo y cerrando los cajones, lo tienes todo en frente.</p>
					
				</article>
				
				<article>
					
					<!-- ¿Quíen invento la memoria RAM? -->
					
					<h2>¿Quíen invento la memoria RAM?</h2>
    
					<p class="c12">La&nbsp; Memoria RAM &nbsp;se descubre hace 65 a&ntilde;os en un laboratorio de Manchester, Inglaterra. Es ah&iacute; donde tres cient&iacute;ficos Frederic Williams, Tom Kilburn y Geoff Tootill crearon un s&uacute;per computador al que llamaron Manchester Small Scale Experimental y que apodaron &ldquo;Baby&rdquo;.</p>
					
					<figure>
						<img alt="Computer Pioneers - Frederic Calland Williams" src="src/img/image7.jpg" title="Frederic Calland Williams"/>
						<figcaption>Frederic Williams</figcaption>
					</figure>
		
					<figure>
						<img alt="Tom Kilburn" src="src/img/image9.jpg" title="Tom Kilburn" />
						<figcaption>&nbsp;Tom Kilburn</figcaption>
					</figure>	
      	
					<figure>
						<img alt="Geoff Tootill" src="src/img/image11.jpg" title="Geoff Tootill" />
						<figcaption>&nbsp;Geoff Tootill</figcaption>
					</figure>
				</article>
			</section>
		</main>	
	</body>
</html>
