<!DOCTYPE html>
<html lang="es">
	<head>
		
		<!-- Metadatos -->
		
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="theme-color" content="#0c212e">
		<title>Disco duro portatil</title>
		<base href="../../">
		
		<!-- Google Founts -->
		
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&family=Roboto:wght@400;700&display=swap" rel="stylesheet">
		
		<!-- Estilos Generales -->
		
		<link rel="stylesheet" href="css/estilos.css" />
	</head>
	<body>
		
		<!-- Header -->
		<div class="wrapper">
			<header class="header">
				<span class="logo">Computador</span>
				<div>
					<button class="button"><a href="index.html">Home</a></button>
					<button class="button"><a href="D-Storage.html">Volver</a></button>
				</div>	
			</header>
			
			<!-- Wrapper content -->
			
			<section class="wrapper-content">
				<span class="title">¿Qué es un Disco duro portatil?</span>
				<p>Disco duro portátil o disco duro externo es una unidad de disco duro que es fácil de instalar y transportar de una computadora a otra</p>  
			</section>		
		</div>
		<main class="main">
			<section>
				
				<h1>Unidades de disco duro portatiles</h1>
    
      
				<figure>
					<img 
						 alt="Revista Gerencia - Seagate presenta disco duro port&aacute;til de 5 TB" 
						 src="src/img/image1.jpg"
						 title="Revista Gerencia - Seagate presenta disco duro port&aacute;til de 5 TB"
					/>
				</figure>
				
				
    
				<p><strong>Disco duro port&aacute;til</strong> &nbsp;o&nbsp; <strong>disco duro externo</strong> &nbsp;es una&nbsp;
					<a 
					   class="active-link" 
					   href="https://es.wikipedia.org/wiki/Unidad_de_disco_duro">
						unidad de disco duro
					</a>
					
					&nbsp;que es f&aacute;cil de instalar y transportar de una&nbsp;
					
					<a 
					   class="active-link"
					   href="https://es.wikipedia.org/wiki/Computadora.">
						computadora
					</a>
					
					&nbsp;a otra, sin necesidad de consumir constantemente energ&iacute;a
        el&eacute;ctrica o bater&iacute;a o alg&uacute;n otro recurso. Su fecha
        de creaci&oacute;n fue el a&ntilde;o 2009.</span
      >
    </p>
    <p class="c17">
      <span class="c4">Desde que los&nbsp;</span
      ><span class="c4"
        ><a
          class="c3"
          href="https://www.google.com/url?q=https://es.wikipedia.org/wiki/Discos_%25C3%25B3pticos&amp;sa=D&amp;source=editors&amp;ust=1664561046542549&amp;usg=AOvVaw2jr8Pq6xQLebEgHSd7Z6RI"
          >discos &oacute;pticos</a
        ></span
      ><span class="c4"
        >&nbsp;se han extendido como almacenamiento barato, se ha cambiado la
        filosof&iacute;a de tener el mismo tipo de almacenamiento de discos
        intercambiables tanto para almacenamiento como para copia de seguridad o
        almacenamiento definitivo. Antes normalmente eran&nbsp;</span
      ><span class="c4"
        ><a
          class="c3"
          href="https://www.google.com/url?q=https://es.wikipedia.org/wiki/Discos_magn%25C3%25A9ticos&amp;sa=D&amp;source=editors&amp;ust=1664561046542920&amp;usg=AOvVaw1pUyxWMHJfDNKKjI8YPAKq"
          >discos magn&eacute;ticos</a
        ></span
      ><span class="c4">&nbsp;o&nbsp;</span
      ><span class="c4"
        ><a
          class="c3"
          href="https://www.google.com/url?q=https://es.wikipedia.org/wiki/Disco_magneto-%25C3%25B3ptico&amp;sa=D&amp;source=editors&amp;ust=1664561046543261&amp;usg=AOvVaw21ThncZ2YQNiXZpm0ivHc9"
          >magneto-&oacute;pticos</a
        ></span
      ><span class="c4"
        >. Ahora se tiende a tener el almacenamiento &oacute;ptico para un uso
        m&aacute;s definitivo y otro medio sin discos intercambiables para
        transporte. Este el caso de las&nbsp;</span
      ><span class="c4"
        ><a
          class="c3"
          href="https://www.google.com/url?q=https://es.wikipedia.org/wiki/Memoria_USB&amp;sa=D&amp;source=editors&amp;ust=1664561046543747&amp;usg=AOvVaw0RBhGMnpKbPKIPZM-GF09q"
          >memorias USB</a
        ></span
      ><span class="c4">&nbsp;y los discos duros port&aacute;tiles.</span>
    </p>
    <p class="c17">
      <span class="c4"
        >Un disco duro port&aacute;til puede ser desde un microdisco hasta un
        disco duro normal de sobremesa con una carcasa adaptadora. Las
        conexiones m&aacute;s habituales son&nbsp;</span
      ><span class="c4"
        ><a
          class="c3"
          href="https://www.google.com/url?q=https://es.wikipedia.org/wiki/Universal_Serial_Bus&amp;sa=D&amp;source=editors&amp;ust=1664561046544394&amp;usg=AOvVaw0zdpbA4m-Mzt355YmowcPg"
          >USB</a
        ></span
      ><span class="c4">&nbsp;2.0,&nbsp;</span
      ><span class="c4"
        ><a
          class="c3"
          href="https://www.google.com/url?q=https://es.wikipedia.org/wiki/USB_3.0&amp;sa=D&amp;source=editors&amp;ust=1664561046544854&amp;usg=AOvVaw0S2NFiJn0gFcyYi0Dawo2c"
          >USB 3.0</a
        ></span
      ><span class="c4">&nbsp;y&nbsp;</span
      ><span class="c4"
        ><a
          class="c3"
          href="https://www.google.com/url?q=https://es.wikipedia.org/wiki/IEEE_1394&amp;sa=D&amp;source=editors&amp;ust=1664561046545332&amp;usg=AOvVaw0ijMsV0dv7bGSAl4kj8Dd8"
          >Firewire</a
        ></span
      ><span class="c4">, menos las&nbsp;</span
      ><span class="c4"
        ><a
          class="c3"
          href="https://www.google.com/url?q=https://es.wikipedia.org/wiki/Small_Computer_System_Interface&amp;sa=D&amp;source=editors&amp;ust=1664561046545879&amp;usg=AOvVaw2zINDC1KBqD8-pKCbnzUqt"
          >SCSI</a
        ></span
      ><span class="c4">&nbsp;y las&nbsp;</span
      ><span class="c4"
        ><a
          class="c3"
          href="https://www.google.com/url?q=https://es.wikipedia.org/wiki/Serial_ATA&amp;sa=D&amp;source=editors&amp;ust=1664561046546322&amp;usg=AOvVaw1CegvSyZBlp0I06O6RllID"
          >SATA</a
        ></span
      ><span class="c4"
        >. Estas &uacute;ltimas no estaban concebidas para uso externo, pero
        dada su longitud del cable permitida y su capacidad de&nbsp;</span
      ><span class="c4"
        ><a
          class="c3"
          href="https://www.google.com/url?q=https://es.wikipedia.org/wiki/Conexi%25C3%25B3n_en_caliente&amp;sa=D&amp;source=editors&amp;ust=1664561046546701&amp;usg=AOvVaw19LZh9VZ4oorHwvlkwP5sN"
          >conexi&oacute;n en caliente</a
        ></span
      ><span class="c4">&nbsp;(</span><span class="c1">hot-plug</span
      ><span class="c4">), es posible usarlas de este modo.</span>
    </p>
    <p class="c2 c23"><span class="c25"></span></p>
    <p class="c2 c23"><span class="c25"></span></p>
    <p class="c2 c23"><span class="c25"></span></p>
    <p class="c2"><span class="c33">HISTORIA</span></p>
    <p class="c2">
      <span class="c28 c15">Disco duro port&aacute;til</span
      ><span class="c9 c15">&nbsp;o&nbsp;</span
      ><span class="c15 c28">disco duro externo</span
      ><span class="c9 c15">&nbsp;es una unidad de&nbsp;</span
      ><span class="c28 c15">disco duro</span
      ><span class="c19 c9 c27"
        >&nbsp;que es f&aacute;cil de instalar y transportar de una computadora
        a otra, sin necesidad de consumir constantemente energ&iacute;a
        el&eacute;ctrica o bater&iacute;a o alg&uacute;n otro recurso. Su fecha
        de creaci&oacute;n fue el a&ntilde;o 2009.</span
      >
    </p>
    <p class="c2"><span class="c28 c15 c42">CREADOR</span></p>
    <p class="c2">
      <span
        style="
          overflow: hidden;
          display: inline-block;
          margin: 0px 0px;
          border: 0px solid #000000;
          transform: rotate(0rad) translateZ(0px);
          -webkit-transform: rotate(0rad) translateZ(0px);
          width: 92.02px;
          height: 122.69px;
        "
        ><img
          alt="Reynold Johnson timeline | Timetoast timelines"
          src="images/image4.gif"
          style="
            width: 92.02px;
            height: 122.69px;
            margin-left: -0px;
            margin-top: -0px;
            transform: rotate(0rad) translateZ(0px);
            -webkit-transform: rotate(0rad) translateZ(0px);
          "
          title=""
      /></span>
    </p>
    <p class="c2"><span class="c9 c15">Reynold Johnson&nbsp;</span></p>
				
			</section>
		</main>	
	</body>
</html>
