<!DOCTYPE html>
<html lang="es">
	<head>
		
		<!-- Metadatos -->
		
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="theme-color" content="#0c212e">
		<title>Disco duro portatil</title>
		<base href="../../">
		
		<!-- Google Founts -->
		
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&family=Roboto:wght@400;700&display=swap" rel="stylesheet">
		
		<!-- Estilos Generales -->
		
		<link rel="stylesheet" href="css/estilos.css" />
	</head>
	<body>
		
		<!-- Header -->
		<div class="wrapper">
			<header class="header">
				<span class="logo">Computador</span>
				<div>
					<button class="button"><a href="index.html">Home</a></button>
					<button class="button"><a href="D-Storage.html">Volver</a></button>
				</div>	
			</header>
			
			<!-- Wrapper content -->
			
			<section class="wrapper-content">
				<span class="title">¿Qué es un Disco duro portatil?</span>
				<p>Disco duro portátil o disco duro externo es una unidad de disco duro que es fácil de instalar y transportar de una computadora a otra</p>  
			</section>		
		</div>
		<main class="main">
			<section>
				
				<h1>Unidades de disco duro portatiles</h1>
				
				<article>
    
      
					<figure>
						<img 
							 alt="Revista Gerencia - Seagate presenta disco duro port&aacute;til de 5 TB" 
							 src="src/img/image1.jpg"
							 title="Revista Gerencia - Seagate presenta disco duro port&aacute;til de 5 TB"
						/>
					</figure>
					
					<p><strong>Disco duro port&aacute;til</strong> &nbsp;o&nbsp; <strong>disco duro externo</strong> &nbsp;es una&nbsp;
						<a 
						   class="active-link" 
						   href="https://es.wikipedia.org/wiki/Unidad_de_disco_duro"
						   target="_blank">
							unidad de disco duro
						</a>

						&nbsp;que es f&aacute;cil de instalar y transportar de una&nbsp;

						<a 
						   class="active-link"
						   href="https://es.wikipedia.org/wiki/Computadora"
						   target="_blank">
							computadora
						</a>

						&nbsp;a otra, sin necesidad de consumir constantemente energ&iacute;a el&eacute;ctrica o bater&iacute;a o alg&uacute;n otro recurso. Su fecha de creaci&oacute;n fue el a&ntilde;o 2009.</p>

					<!-- -->


					<p>Desde que los&nbsp;
						<a 
						   class="active-link" 
						   href="https://es.wikipedia.org/wiki/Disco_%C3%B3ptico"
						   target="_blank">
							discos &oacute;pticos
						</a>
					&nbsp;se han extendido como almacenamiento barato, se ha cambiado la filosof&iacute;a de tener el mismo tipo de almacenamiento de discos intercambiables tanto para almacenamiento como para copia de seguridad o almacenamiento definitivo. Antes normalmente eran&nbsp; 

						<a
							class="active-link"
							href="https://es.wikipedia.org/wiki/Discos_magn%C3%A9ticos"
							target="_blank">
							discos magn&eacute;ticos
						</a>
						&nbsp;o&nbsp;

						<a
						   class="active-link"
						   href="https://es.wikipedia.org/wiki/Disco_magneto-%C3%B3ptico"
						   target="_blank">
							magneto-&oacute;pticos
						</a>
						. Ahora se tiende a tener el almacenamiento &oacute;ptico para un uso m&aacute;s definitivo y otro medio sin discos intercambiables para transporte. Este el caso de las&nbsp;

						<a
							class="active-link"
							href="https://es.wikipedia.org/wiki/Memoria_USB"
						   target="_blank">
							memorias USB
						</a>

						&nbsp;y los discos duros port&aacute;tiles.
					</p>
					
					
					<!-- -->


					<p>Un disco duro port&aacute;til puede ser desde un microdisco hasta un disco duro normal de sobremesa con una carcasa adaptadora. Las conexiones m&aacute;s habituales son&nbsp;
						
						<a
						  class="active-link"
						  href="https://www.google.com/url?q=https://es.wikipedia.org/wiki/Universal_Serial_Bus&amp;sa=D&amp;source=editors&amp;ust=1664561046544394&amp;usg=AOvVaw0zdpbA4m-Mzt355YmowcPg"
						  target="_blank">
							USB
						</a>
						&nbsp;2.0,&nbsp;
						
						<a
						  class="active-link"
						  href="https://www.google.com/url?q=https://es.wikipedia.org/wiki/USB_3.0&amp;sa=D&amp;source=editors&amp;ust=1664561046544854&amp;usg=AOvVaw0S2NFiJn0gFcyYi0Dawo2c"
						  target="_blank">
							USB 3.0
						</a>
						&nbsp;y&nbsp;
						<a
						  class="active-link"
						  href="https://www.google.com/url?q=https://es.wikipedia.org/wiki/IEEE_1394&amp;sa=D&amp;source=editors&amp;ust=1664561046545332&amp;usg=AOvVaw0ijMsV0dv7bGSAl4kj8Dd8"
						  target="_blank">
							Firewire
						</a>
						, menos las&nbsp;
						
						<a
						  class="active-link"
						  href="https://www.google.com/url?q=https://es.wikipedia.org/wiki/Small_Computer_System_Interface&amp;sa=D&amp;source=editors&amp;ust=1664561046545879&amp;usg=AOvVaw2zINDC1KBqD8-pKCbnzUqt"
						  target="_blank">
							SCSI
						</a>
						&nbsp;y las&nbsp;
						
						<a
						  class="active-link"
						  href="https://www.google.com/url?q=https://es.wikipedia.org/wiki/Serial_ATA&amp;sa=D&amp;source=editors&amp;ust=1664561046546322&amp;usg=AOvVaw1CegvSyZBlp0I06O6RllID"
						   target="_blank">
							SATA
						</a>
						. Estas &uacute;ltimas no estaban concebidas para uso externo, pero dada su longitud del cable permitida y su capacidad de&nbsp;
						
						<a
						  class="active-link"
						  href="https://www.google.com/url?q=https://es.wikipedia.org/wiki/Conexi%25C3%25B3n_en_caliente&amp;sa=D&amp;source=editors&amp;ust=1664561046546701&amp;usg=AOvVaw19LZh9VZ4oorHwvlkwP5sN"
						   target="_blank">
							conexi&oacute;n en caliente
						</a>
						&nbsp;(hot-plug), es posible usarlas de este modo.
					</p>

				
	
				</article>
				
				<!-- Article -->
				
				<article>
				
					<h2>Historia</h2>
    				<p>Disco duro port&aacute;til &nbsp;o&nbsp; disco duro externo&nbsp;es una unidad de&nbsp; disco duro &nbsp;que es f&aacute;cil de instalar y transportar de una computadora a otra, sin necesidad de consumir constantemente energ&iacute;a el&eacute;ctrica o bater&iacute;a o alg&uacute;n otro recurso. Su fecha de creaci&oacute;n fue el a&ntilde;o 2009.</p>
    
					<h3>Creador</h3>
      				<figure>
		  				<img
			   				alt="Reynold Johnson timeline | Timetoast timelines"
          	   				src="src/img/image4.gif"
          	   				title="Reynold Johnson timeline | Timetoast timelines"
						/>
						<figcaption>Reynold Johnson&nbsp;</figcaption>
					</figure>
				</article>
			</section>
		</main>	
	</body>
</html>
