<!DOCTYPE html>
<html lang="es">
	<head>
		
		<!-- Metadatos -->
		
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="theme-color" content="#0c212e">
		<title>Unidad Zip</title>
		<base href="../../">
		
		<!-- Google Founts -->
		
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&family=Roboto:wght@400;700&display=swap" rel="stylesheet">
		
		<!-- Estilos Generales -->
		
		<link rel="stylesheet" href="css/estilos.css" />
	</head>
	<body>
		
		<!-- Header -->
		<div class="wrapper">
			<header class="header">
				<span class="logo">Computador</span>
				<div>
					<button class="button"><a href="index.html">Home</a></button>
					<button class="button"><a href="D-Storage.html">Volver</a></button>
				</div>	
			</header>
			
			<!-- Wrapper content -->
			
			<section class="wrapper-content">
				<span class="title">¿Qué es una Unidad Zip?</span>
				<p>El disco Blu-ray, conocido como Blu-ray o simplemente BD (en inglés: Blu-ray Disc), es un formato de disco óptico desarrollado por la Blu-ray Disc Association (BDA)</p>  
			</section>		
		</div>
		<main class="main">
			<section>
				
				<h1>Unidades zip</h1>
    				
				
      
				<figure>
					<img
						 alt="Unidad Zip"
						 src="src/img/image6.jpg"
						 title="Unidad Zip"
					/>
				</figure>
				
				<article>
    
					<h2>&iquest;Qué es?</h2>

					<p>La unidad Zip o unidad Iomega Zip, en ingl&eacute;s: Zip drive, es un dispositivo o perif&eacute;rico de almacenamiento, que utiliza discos Zip como soporte de almacenamiento; dichos soportes son de tipo magn&eacute;tico, extra&iacute;bles o removibles de mediana capacidad, introducido en el mercado por la empresa Iomega en 1994.</p>
					
				</article>
				
				<article>
					<h2>Historia</h2>
					<p>El Disco ZIP es un disco para almacenar datos de mediana capacidad. &nbsp;Fue creado por la empresa Iomega en el a&ntilde;o 1994 en Estados Unidos. &Eacute;ste dispositivo de almacenamiento, se basa en el sistema de Bernoulli Box .</p>

					<em><strong>Fabricante</strong>: Iomega</em>
				</article>
			</section>
		</main>	
	</body>
</html>
